<.header_app />
<div class="container-fluid">
    <h3>Produtos</h3>
    <hr>
    <div class="card shadow mb-4">
        <!-- Card Header - Dropdown -->
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Novo Produto</h6>
        </div>

        <.produto_form changeset={@changeset} action={~p"/produtos"} />
    </div>
</div>