<.header>
  New Fornecedor
  <:subtitle>Use this form to manage fornecedor records in your database.</:subtitle>
</.header>

<.fornecedor_form changeset={@changeset} action={~p"/fornecedores"} />

<.back navigate={~p"/fornecedores"}>Back to fornecedores</.back>
