<.header>
  Listing Produtos
  <:actions>
    <.link href={~p"/produtos/new"}>
      <.button>New Produto</.button>
    </.link>
  </:actions>
</.header>

<.table id="produtos" rows={@produtos} row_click={&JS.navigate(~p"/produtos/#{&1}")}>
  <:col :let={produto} label="Nome"><%= produto.nome %></:col>
  <:col :let={produto} label="Descricao"><%= produto.descricao %></:col>
  <:col :let={produto} label="Quantidade"><%= produto.quantidade %></:col>
  <:col :let={produto} label="Preco"><%= produto.preco %></:col>
  <:col :let={produto} label="Data validade"><%= produto.data_validade %></:col>
  <:action :let={produto}>
    <div class="sr-only">
      <.link navigate={~p"/produtos/#{produto}"}>Show</.link>
    </div>
    <.link navigate={~p"/produtos/#{produto}/edit"}>Edit</.link>
  </:action>
  <:action :let={produto}>
    <.link href={~p"/produtos/#{produto}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
