<.header>
  New Produto
  <:subtitle>Use this form to manage produto records in your database.</:subtitle>
</.header>

<.produto_form changeset={@changeset} action={~p"/produtos"} />

<.back navigate={~p"/produtos"}>Back to produtos</.back>
