<.header>
  Edit Fornecedor <%= @fornecedor.id %>
  <:subtitle>Use this form to manage fornecedor records in your database.</:subtitle>
</.header>

<.fornecedor_form changeset={@changeset} action={~p"/fornecedores/#{@fornecedor}"} />

<.back navigate={~p"/fornecedores"}>Back to fornecedores</.back>
