<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:nome]} type="text" label="Nome" />
  <.input field={f[:observacao]} type="text" label="Observacao" />
  <:actions>
    <.button>Save Fornecedor</.button>
  </:actions>
</.simple_form>
